{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

                {{ include ('_partials/_header.html.twig') }}

      
                    <h1> contact </h1>


                {{ include ('_partials/_footer.html.twig') }}
{% endblock %}
